@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body{
  background-color:antiquewhite;
}

*{
  margin:0;
  padding:0;
  overflow: hidden;
}


nav{
  font-family: 'Ubuntu' sans-serif;
}

nav ul{
  display:flex;
  align-items: center;
  list-style: none;
  height:48px;
  background-color: black;
  color:white;
  text-decoration:none;
}
nav ul li{
  padding:0 12px;
}

nav li a{
  text-decoration: none;
  color:white;
}

.brand img{
  width:30px;
  padding:0 8px;
}

.brand{
  display:flex;
  align-items: center;
  font-weight:bolder;
  font-size:1.2rem;
}

#search{
  width:30vh;
}

.playlist{
  width:50%;
  background-color: black;
  height:60vh;
  margin:50px 280px;
  color:white;
}

#myList{
  text-align:center;
  margin-top: 10px;
  font-weight: bolder;
}

.playlist{
  color:white;
}

#heart{
  margin-left:8px;
  cursor:pointer;
}

.checkList{
  opacity:0;
}

.login{
  margin-left:700px;
}

#loginPage{
  width:20vh;
  padding:8px 0;
  font-weight: bolder;
  cursor:pointer;
  border:10px solid;
  border-radius: 15px;
}

#loginPage:hover{
  background-color: lightgrey;
}

.container{
  min-height: 65vh;
  background-color: black;
  color: white;
 font-family: 'Varela Round', sans-serif;
 display: flex;
 margin: 23px auto;
 width: 70%;
 border-radius: 12px;
 padding: 34px;
 background-image: url("Images/bg.jpg");
}


.container h3{
  margin:0 10px;
}

.bottom{
  background-color: black;
  height:130px;
  position:sticky;
  bottom:0;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:12px 0;
  color:white;
}

#playButton{
  width:80vw;
  text-align:center;
  cursor:pointer;
}


.icons{
  margin-top:12px;
}

.icons i{
  cursor: pointer;
}

.songItem{
  height:36px;
  display:flex;
  width:100%;
  background-color: white;
  color:black;
  margin:12px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  font-size: 13px;
}

.songItemContainer{
  margin-top: 10px;
}

.songItem img{
  width:33px;
  height:31px;
  margin: 0 23px;
  border-radius:50%;
}

.timestamp{
  margin:0 23px;
  cursor:pointer;
}

.timestamp i{
  cursor:pointer;
}

.songInfo{
  position:absolute;
  left:20vw;
  font-family: 'Varela Round', sans-serif;
}

.songInfo img{
  opacity:0;
  transition: opacity 0.4s ease-in;
}





